[submodule "puppet/modules/php"]
    path = puppet/modules/php
    url = https://github.com/lermit/puppet-php
[submodule "puppet/modules/xdebug"]
    path = puppet/modules/xdebug
    url = https://github.com/puphpet/puphpet-xdebug
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/example42/puppet-mysql
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/example42/puppet-apache
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi
